################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Games/.vs/Games/v16
/Games/Snake-Game/bin/Debug/netcoreapp3.1
/Games/Snake-Game/obj/Debug/netcoreapp3.1
/Games/Snake-Game/obj
/Games/.vs/Games/DesignTimeBuild/.dtbcache.v2
